go 1.24.0

toolchain go1.24.2

use (
	.
	./examples/attributes/client
	./examples/attributes/server
	./examples/opentelemetry/client
	./examples/opentelemetry/server
	./examples/quickstart/client
	./examples/quickstart/server
)
