go 1.27.0

use (
	.
	./examples/attributes/client
	./examples/attributes/server
	./examples/opentelemetry/client
	./examples/opentelemetry/server
	./examples/quickstart/client
	./examples/quickstart/server
)
