name: Build & Test

on: [
  push,
  pull_request
]

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      etcd:
        image: gcr.io/etcd-development/etcd:v3.6.5
        ports:
          - 2379:2379
        env:
          ETCD_LISTEN_CLIENT_URLS: http://0.0.0.0:2379
          ETCD_ADVERTISE_CLIENT_URLS: http://localhost:2379

    strategy:
      matrix:
        go: [
          '1.24',
          '1.25'
        ]

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: ~${{matrix.go}}
      - run: go build ./...
      - run: go test  ./... 
        env:
          ETCD_ADDR: localhost:2379
